<section class="depot_form">

  <% if flash[:alert] %>
    <aside class="notice">
      <%= flash[:alert] %>
    </aside>
  <% end %>

	<%= form_tag do %>
  	<h2 class="text-2xl">Please log in</h2>
    <div class="field">
      <%= label_tag :name, 'Full name: ' %>
      <%= text_field_tag :name, params[:name] %>
    </div>
    <div class="field">
    	<%= label_tag :password, 'Your password:' %>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div class="actions">
    	<%= submit_tag "Login" %>
    </div>
  <% end %>

</section>
