<%= form_with(model: order, local: true) do |form| %>
<% if order.errors.any? %>
<div id="error_explanation">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: x-circle -->
      <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, size: 40 %>
</div>

<div class="field">
  <%= form.label :address %>
  <%= form.text_area :address, rows:3, cols: 40 %>
</div>

<div class="field">
  <%= form.label :email %>
  <%= form.text_field :email, size: 40 %>
</div>

<div class="field">
  <%= form.label :pay_type %>
  <%= form.select :pay_type, Order.pay_types.keys, prompt: 'Select a payment method' %>
</div>

<div class="actions">
  <%= form.submit 'Place Order', class: "mt-3 py-2 px-3 w-full text-sm bg-red-600 hover:bg-red-700 text-white rounded-md" %>
</div>
<% end %>