<% if notice %>
<div class="mt-4 mb-8" id="notice">
  <div class="rounded-md bg-green-100 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: check-circle -->
        <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <h3 class="text-sm leading-5 font-medium text-green-800">
          <%= notice %>
        </h3>
      </div>
    </div>
  </div>
</div>
<% end %>

<h2 class="text-4xl leading-normal">Your Pragmatic Cart</h2>

<div class="mt-4">
  <table>
    <% @cart.line_items.each do |item| %>
    <tr>
      <td class="py-2"><span data-semantic="line_item.quantity"><%= item.quantity %></span> &times;</td>
      <td class="py-2 px-3" data-semantic="line_item.product.title"><%= item.product.title %></td>
      <td class="py-2 px-3" data-semantic="line_item.total_price"><%= number_to_currency(item.total_price) %></td>
    </tr>
    <% end %>

    <tfoot>
      <tr class="border-t border-0 border-black border-solid">
        <th class="py-2 px-3 text-right" colspan="2">Total:</th>
        <td class="py-2 px-3"><%= number_to_currency(@cart.total_price) %></td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="mt-8">
  <%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class: 'bg-red-500'  %>
</div>