<% if notice %>
<div id="notice" data-semantic-flash-notice_type="<%= flash[:notice_type] %>"
  class="mt-8 mb-4 rounded-md <%= flash[:notice_type] == 'success' ? 'bg-green-100' : 'bg-red-50' %> p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <% if flash[:notice_type] == 'success' %>
      <!-- Heroicon name: check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
          clip-rule="evenodd" />
      </svg>
      <% else %>
      <!-- Heroicon name: x-circle -->
      <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
          clip-rule="evenodd" />
      </svg>
      <% end %>
    </div>
    <div class="ml-3">
      <h3
        class="text-sm leading-5 font-medium <%= flash[:notice_type] == 'success' ? 'text-green-800' : 'text-red-800' %>">
        <%= notice %>
      </h3>
    </div>
  </div>
</div>
<% end %>

<h1 class="text-4xl leading-normal">Your pragmatic catalog</h1>

<% if @store_counter %>
<p class="mt-4">You have been <span data-semantic="store_counter"><%= pluralize(@store_counter, 'time') %></span> in the
  catalog without adding anything
  to the Cart</p>
<% end %>

<% cache @products do %>
<% @products.each do |product| %>
<% cache product do %>
<div id="product-<%= product.id %>" data-semantic="product-card"
  class="mt-8 mb-8 bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 flex flex-col md:flex-row ">
    <div class="min-w-max-content">
      <%= image_tag(product.image_url, class:'mx-auto md:mx-0 w-full h-auto sm:h-64 sm:w-48 rounded-lg') %>
    </div>
    <div class="mt-4 md:mt-0 md:ml-8">
      <h2 class="text-lg"><%= product.title %></h2>
      <div class="mt-4 md:mt-8 leading-relaxed"><%= sanitize(product.description) %></div>
      <div class="mt-4 md:mt-8 w-full flex items-center justify-end md:justify-start">
        <span data-semantic="price"
          class="inline-flex items-center px-3 py-0.5 rounded-full text-xs font-medium leading-5 bg-gray-100 text-gray-800 whitespace-no-wrap">
          <%= number_to_currency(product.price, unit: '€') %>
        </span>
        <div class="ml-4">
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote:true, class: 'px-2 py-1 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500' %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>