<!DOCTYPE html>
<html>

<head>
  <title>Depot App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_pack_tag 'tailwindcss', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body class="bg-gray-50">
  <header class="mx-auto container flex flex-col sm:flex-row">
    <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf', class:'h-16' %>
    <nav class="sm:ml-4 lg:ml-12 flex items-center">
      <ul class="mx-auto flex items-center">
        <li class="mr-6"><a href="/">Home</a></li>
        <li class="mr-6"><a href="/questions">FAQ</a></li>
        <li class="mr-6"><a href="/news">News</a></li>
        <li class="mr-6"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <div class="container mx-auto px-6 min-h-screen md:grid md:grid-cols-10 md:gap-x-10">
    <main class="<%= controller.controller_name %>  md:col-span-7">
      <%= yield %>
    </main>
    <div class="mt-4 md:col-span-3">
      <div id="cart" class="<%= controller.controller_name %>-controller md:sticky md:top-32">
        <%= render_if @cart && @cart.line_items.any?, @cart %>
      </div>
    </div>
  </div>
</body>

</html>